# Ignore Mac system files
.DS_store

# Ignore node_modules folder
/node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# compiled output
/dist

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json